version: '3.8'

services:
  postgres:
    image: postgres:15
    environment:
      POSTGRES_DB: orders
      POSTGRES_USER: postgres
      POSTGRES_PASSWORD: password
    ports:
      - "5432:5432"
    volumes:
      - postgres_data:/var/lib/postgresql/data
      - ./migrations:/docker-entrypoint-initdb.d
    healthcheck:
      test: ["CMD-SHELL", "pg_isready -U postgres"]
      interval: 10s
      timeout: 5s
      retries: 5
    networks:
    - desafio

  desafio:
    image: desafio
    ports:
    - 8080:8080
    - 50051:50051
    build:
      context: .
      dockerfile: Dockerfile
    environment:
      DB_HOST: postgres
    networks:
    - desafio

networks:
  desafio:
    driver: bridge    

volumes:
  postgres_data: